<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Cinema Theater</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="header">
		<div>
			<a href="index.html" id="logo"><img src="images/logo.png" alt=""></a>
			<ul>
				<li class="selected">
					<a href="index.html">Home</a>
				</li>
				<li>
					<a href="movies.html">Movies</a>
					<ul>
						<li>
							<a href="#">Now Showing</a>
						</li>
						<li>
							<a href="#">Coming Soon</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="ticket-info.html">Ticket Info</a>
				</li>
				<li>
					<a href="rentals.html">Rentals</a>
				</li>
				<li>
					<a href="about.html">About</a>
				</li>
			</ul>
		</div>
	</div>
	
	<div id="body" class="home">
			
		</div>

	<div id="footer">
		<div>
			<div>
				<span>Quick Links</span>
				<ul>
					<li>
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="ticket-info.html">Ticket Info</a>
					</li>
					<li>
						<a href="#">Location</a>
					</li>
					<li>
						<a href="movies.html">Now Showing</a>
					</li>
					<li>
						<a href="rentals.html">Rentals</a>
					</li>
					<li>
						<a href="about.html">Contact</a>
					</li>
					<li>
						<a href="movies.html">Coming Soon</a>
					</li>
					<li>
						<a href="about.html">The Company</a>
					</li>
				</ul>
			</div>
		</div>
		</div>
		
			
</body>
</html>